aenum==3.1.15
ai-api-client-sdk==2.4.0
ai-core-sdk==2.4.14
awscli==1.36.19
boto3==1.35.78
botocore==1.35.78
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
docutils==0.16
docx==0.2.4
durationpy==0.9
google-auth==2.36.0
idna==3.10
jmespath==1.0.1
kubernetes==31.0.0
lxml==5.3.0
metaflow==2.12.39
oauthlib==3.2.2
pillow==11.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyhumps==3.8.0
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
PyYAML==6.0.2
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.7.2
s3transfer==0.10.4
sap-ai-core-metaflow==1.1.21
setuptools==75.6.0
six==1.17.0
typing_extensions==4.12.2
urllib3==2.2.3
websocket-client==1.8.0
wheel==0.45.1
Flask==2.3.2
gunicorn==20.1.0
pandas==2.0.0
transformers==4.31.0
torch>=2.0.0  # Allow a compatible version of torch
beautifulsoup4==4.11.1
nltk==3.7